<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Challenge You</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<link rel="stylesheet" href="../css/materialize.css">


  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
 <link href="../css/login.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">





                    
        
</head>
<body>
            {{#if user}}     
      
<link href="../css/index.css" type="text/css" rel="stylesheet" media="screen,projection"/>


       <!-- HEADER class block removed  -->
            <header class="block" >
                <ul class="header-menu horizontal-list">

           <li>
                    <a class="" href="/"><img height="43px" src="../logo.png"/></a>
                    </li>
               
     
                      <li>
                        <a class="header-menu-tab gr" href="../"><span  class="icon fa fa-home g"></span></a>
                     
                    </li>
        
                        <li>
                        <a class="header-menu-tab" href="/see_challenge_request"><span class="icon fa fa-comment-o g"></span></a>
                        <a class="header-menu-number" href="/see_challenge_request">{{Challenge.length}}</a>
                    </li>
                    
                 <li>
                 
                        <a class="header-menu-tab" href="/see_friend_request"><span class="icon fa fa-user-plus g"></span></a>
                      <a class="header-menu-number" href="/see_friend_request">{{friend_request.length}}</a>
                  </li>

                   <li>
                      <a class="header-box-tab" href="/admin"><span class="icon fontawesome-envelope g"></span></a>                            
                  </li>
      
                    <li>
                        <a class="header-menu-tab" href="/users/logout"><span class="icon fa fa-sign-out g"></span></a>
                    </li>
        
      
            
                 

                </ul>
                <div class="profile-menu">
                    {{user.username}} <a href="#26"><span class="entypo-down-open scnd-font-color"></span></a>
                    <span class="profile-picture small-profile-picture">
                     <img width="40px" alt="picture" src="{{pic}}">
                      </span>
                    </div>
                </div>
            </header>
  {{/if}}

{{{body}}}


  <script src="../js/jquery.min.js"></script>
  <script src="../js/jquery.bootcomplete.js"></script>
  <script src="../js/scripts.js"></script>
 <script src="../js/search.js"></script>

  <script src="../js/init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  
  
    <script>
  
            </script>

              
  </body>
</html>
