<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Challenge You</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link href='http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400,300,600' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="../css/materialize.css">


  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
 <link href="../css/login.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://code.jquery.com/jquery-latest.min.js"></script>

<link rel="stylesheet" href="https://assets-cdn.ziggeo.com/v1-stable/ziggeo.css" />
<script src="https://assets-cdn.ziggeo.com/v1-stable/ziggeo.js"></script>
   <script>ZiggeoApi.token="r1d3ffca0738877b5b993904b579130f";
ZiggeoApi.v2app().on("ready",function(){
  var recorderElement = $("#recorder");
var recorder=ZiggeoApi.V2.Recorder.findByElement(recorderElement);

if(recorder)
{
    recorder.on("verified",function(){

    var a=recorder.get("video");

    document.getElementById("challenge_id").value =a;
    document.getElementById('test').click();
    
});
}
});


</script>


<style>
/*
*    RESET
*/
*{
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}
 
*:after,
*:before {
    box-sizing: border-box;
}
 
/*
*    GLOBAL
*/
html {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}
 
body {
    background-color: #f3f3f3;
    color: rgb(165,165,165);
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
}
 
a.close {
    background-color: rgb(204,204,204);
    border-radius: 50%;
    color: rgb(255,255,255);
    display: block;
    font-family: 'Varela Round', sans-serif;
    font-size: .8em;
    padding: .2em .5em;
    position: absolute;
    top: 1.25rem;
    transition: all 400ms ease;
    right: 1.25rem;
}
     
    a.close:hover {
        background-color: #1bc5b3;
        cursor: pointer;
    }
 
/*
*    LOG-IN BOX
*/

div.overlay2 {
    background-color: rgba(0,0,0,.25);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

div.overlay2 {
    background-color: rgba(0,0,0,.25);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

div.overlay {
    background-color: rgba(0,0,0,.25);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
 
div.overlay3 {
    background-color: rgba(0,0,0,.25);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}




    div.overlay > div.login-wrapper {
        align-self: center;
        background-color: rgba(0,0,0,.25);
        border-radius: 2px;
        padding: 6px;
        width: 450px;
    }
   
   
    div.overlay2> div.login-wrapper2 {
        align-self: center;
        background-color: rgba(0,0,0,.25);
        border-radius: 2px;
        padding: 6px;
        width: 450px;
    }
   

      div.overlay2 > div.login-wrapper2 > div.login-content2{
            background-color: rgb(255,255,255);
            border-radius: 2px;
            padding: 24px;    
            position: relative;
        }
        div.overlay > div.login-wrapper > div.login-content {
            background-color: rgb(255,255,255);
            border-radius: 2px;
            padding: 24px;    
            position: relative;
        }
         
  div.overlay2 > div.login-wrapper2 > div.login-content2 > h3 {
                color: rgb(0,0,0);
                font-family: 'Varela Round', sans-serif;
                font-size: 1.8em;
                margin: 0 0 1.25em;
                padding: 0;
            }

            div.overlay > div.login-wrapper > div.login-content > h3 {
                color: rgb(0,0,0);
                font-family: 'Varela Round', sans-serif;
                font-size: 1.8em;
                margin: 0 0 1.25em;
                padding: 0;
            }

    div.overlay3> div.login-wrapper3 {
        align-self: center;
        background-color: rgba(0,0,0,.25);
        border-radius: 2px;
        padding: 6px;
        width: 500px;
    }
   

      div.overlay3 > div.login-wrapper3 > div.login-content2{
            background-color: rgb(255,255,255);
            border-radius: 2px;
            padding: 24px;    
            position: relative;
        }
form label {
    color: rgb(0,0,0);
    display: block;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.25em;
    margin: .75em 0;    
}
 
    form input[type="text"],
    form input[type="email"],
    form input[type="number"],
    form input[type="search"],
    form input[type="password"],
    form textarea {
        background-color: rgb(255,255,255);
        border: 1px solid rgb( 186, 186, 186 );
        border-radius: 1px;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
        display: block;
        font-size: .65em;
        margin: 6px 0 12px 0;
        padding: .8em .55em;    
        text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
        transition: all 400ms ease;
        width: 90%;
    }
     
    form input[type="text"]:focus,
    form input[type="email"]:focus,
    form input[type="number"]:focus,
    form input[type="search"]:focus,
    form input[type="password"]:focus,
    form textarea:focus,
    form select:focus { 
        border-color: #4195fc;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
    }
     
        form input[type="text"]:invalid:focus,
        form input[type="email"]:invalid:focus,
        form input[type="number"]:invalid:focus,
        form input[type="search"]:invalid:focus,
        form input[type="password"]:invalid:focus,
        form textarea:invalid:focus,
        form select:invalid:focus { 
            border-color: rgb(248,66,66);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
        }
     
form button {
    background-color: #50c1e9;
    border: 1px solid rgba(0,0,0,.1);
    color: rgb(255,255,255);
    font-family: 'Varela Round', sans-serif;
    font-size: .85em;
    padding: .55em .9em;
    transition: all 400ms ease;    
}
 
    form button:hover {
        background-color: #1bc5b3;
        cursor: pointer;
    }

.home_page_top {
    background-image: url('../home_page_top.png');
   background-repeat: no-repeat;
   background-size:100%;
width:100%;
}




.fc {
  display: flex;
}

.fc1{
 flex:1;
}
.fc2{
flex:1;
background-color: white;
}
.fc3{
  flex:1;  

}
</style>
<style>
/*
*    RESET
*/
*{
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}
 
*:after,
*:before {
    box-sizing: border-box;
}
 
/*
*    GLOBAL
*/
html {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}
 
body {
    background-color: #f3f3f3;
    color: rgb(165,165,165);
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
}
 
a.close {
    background-color: rgb(204,204,204);
    border-radius: 50%;
    color: rgb(255,255,255);
    display: block;
    font-family: 'Varela Round', sans-serif;
    font-size: .8em;
    padding: .2em .5em;
    position: absolute;
    top: 1.25rem;
    transition: all 400ms ease;
    right: 1.25rem;
}
     
    a.close:hover {
        background-color: #1bc5b3;
        cursor: pointer;
    }
 
/*
*    LOG-IN BOX
*/

div.overlay2 {
    background-color: rgba(0,0,0,.25);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

div.overlay2 {
    background-color: rgba(0,0,0,.25);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

div.overlay {
    background-color: rgba(0,0,0,.25);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
 
    div.overlay > div.login-wrapper {
        align-self: center;
        background-color: rgba(0,0,0,.25);
        border-radius: 2px;
        padding: 6px;
        width: 450px;
    }
   
   
    div.overlay2> div.login-wrapper2 {
        align-self: center;
        background-color: rgba(0,0,0,.25);
        border-radius: 2px;
        padding: 6px;
        width: 450px;
    }
   

      div.overlay2 > div.login-wrapper2 > div.login-content2{
            background-color: rgb(255,255,255);
            border-radius: 2px;
            padding: 24px;    
            position: relative;
        }
        div.overlay > div.login-wrapper > div.login-content {
            background-color: rgb(255,255,255);
            border-radius: 2px;
            padding: 24px;    
            position: relative;
        }
         
  div.overlay2 > div.login-wrapper2 > div.login-content2 > h3 {
                color: rgb(0,0,0);
                font-family: 'Varela Round', sans-serif;
                font-size: 1.8em;
                margin: 0 0 1.25em;
                padding: 0;
            }

            div.overlay > div.login-wrapper > div.login-content > h3 {
                color: rgb(0,0,0);
                font-family: 'Varela Round', sans-serif;
                font-size: 1.8em;
                margin: 0 0 1.25em;
                padding: 0;
            }
/*
*    FORM
*/
form label {
    color: rgb(0,0,0);
    display: block;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.25em;
    margin: .75em 0;    
}
 
    form input[type="text"],
    form input[type="email"],
    form input[type="number"],
    form input[type="search"],
    form input[type="password"],
    form textarea {
        background-color: rgb(255,255,255);
        border: 1px solid rgb( 186, 186, 186 );
        border-radius: 1px;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
        display: block;
        font-size: .65em;
        margin: 6px 0 12px 0;
        padding: .8em .55em;    
        text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
        transition: all 400ms ease;
        width: 90%;
    }
     
    form input[type="text"]:focus,
    form input[type="email"]:focus,
    form input[type="number"]:focus,
    form input[type="search"]:focus,
    form input[type="password"]:focus,
    form textarea:focus,
    form select:focus { 
        border-color: #4195fc;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
    }
     
        form input[type="text"]:invalid:focus,
        form input[type="email"]:invalid:focus,
        form input[type="number"]:invalid:focus,
        form input[type="search"]:invalid:focus,
        form input[type="password"]:invalid:focus,
        form textarea:invalid:focus,
        form select:invalid:focus { 
            border-color: rgb(248,66,66);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
        }
     
form button {
    background-color: #50c1e9;
    border: 1px solid rgba(0,0,0,.1);
    color: rgb(255,255,255);
    font-family: 'Varela Round', sans-serif;
    font-size: .85em;
    padding: .55em .9em;
    transition: all 400ms ease;    
}
 
    form button:hover {
        background-color: #1bc5b3;
        cursor: pointer;
    }

.home_page_top {
    background-image: url('../home_page_top.png');
   background-repeat: no-repeat;
   background-size:100%;
width:100%;
}

</style>

<script>
$(document).ready(function() {

  
$('.header-menu-number').each(function () {
     var a= $(this).text();
     if(a ==0)
     {
        $(this).remove();
     }
});

});
</script>
                    
        
</head>
<body>
            {{#if user}}     
      
<link href="../css/index.css" type="text/css" rel="stylesheet" media="screen,projection"/>


       <!-- HEADER class block removed  -->
            <header class="block" >
                <ul class="header-menu horizontal-list">

           <li>
                    <a class="" href="/"><img height="43px" src="../logo.png"/></a>
                    </li>
               
     
                      <li>
                        <a class="header-menu-tab gr" href="../"><span  class="icon fa fa-home g"></span></a>
                         <a class="header-menu-number" href="/see_completed_challenges">{{challengescompleted.length}}</a>
         
                   
                    </li>
        
                        <li>
                        <a class="header-menu-tab" href=""><span class="icon fa fa-comment-o g"></span></a>
                        <a class="header-menu-number" href="/see_challenge_request">{{Challenge.length}}</a>
                    </li>
                    
                 <li>
                 
                        <a class="header-menu-tab" href=""><span class="icon fa fa-user-plus g"></span></a>
                      <a class="header-menu-number" href="/see_friend_request">{{friend_request.length}}</a>
                  </li>

                   <li>
                      <a class="header-box-tab" href="/admin"><span class="icon fontawesome-envelope g"></span></a>                            
                  </li>
      
                    <li>
                        <a class="header-menu-tab" href="/users/logout"><span class="icon fa fa-sign-out g"></span></a>
                    </li>
        
      
            
                 

                </ul>
                <div class="profile-menu">
                    {{user.username}} <a href="#26"><span class="entypo-down-open scnd-font-color"></span></a>
                    <span class="profile-picture small-profile-picture">
                     <img width="40px" alt="picture" src="{{pic}}">
                      </span>
                    </div>
                </div>
            </header>
  {{/if}}

{{{body}}}


  <script src="../js/jquery.min.js"></script>
  <script src="../js/jquery.bootcomplete.js"></script>
  <script src="../js/scripts.js"></script>
 <script src="../js/search.js"></script>

  <script src="../js/init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  
  
    <script>
  
            </script>

              
  </body>
</html>
