 <h2 class="page-header">Hobbies</h2>
 
<body>
	
		<div>
			<h1>Hobbies</h1>
			<p>User: {{user}}
               {{#each hobbies}}
		abc{{user}}
		<p>	{{hobby}} <a href="/join_hobby/{{hobby}}">Add Hobby</a></p>
			{{/each}}
			</p>
		</div>

test{{docs}}
		{{#each docs}}
	un	{{username}}
			{{/each}}
	</body>
