
<style>
.fc {
  display: flex;
}

.fc1{
  display: flex;  
 justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
-webkit-flex-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}
.b0,.b1,.b4{
    flex:1;
   font-size:10px;
   text-align:center;
}
.b2{
    flex:2;
    background:white;
   text-align:center;
}
.b3{
 background:white;
box-sizing: border-box;
width:40px;
}
</style>

<body class="home_page_top">


<div class="fc">
  <div class='b0'></div>
  <div class='b1'></div>
  <div class='b2'>
         

 
  </div>
  <div class='b3'>  
 </div>
  <div class='b4'></div>
</div>


<div class="fc">
  <div class='b0'></div>
  <div class='b1'></div>
  <div class='b2'>
    {{#each friend}}
 <div class="fc">
     <div class='b2'>
<div class="profile-picture big-profile-picture clear">  
         <img width="80px" alt="picture" src="{{pic}}" />
        </div>
     </div>
        <div class='b2'>
<h1 class="user-name">  {{username}}</a>
     </div>
 </div>
  </div>
  <div class='b3'>  
  </div>
  <div class='b4'></div>
</div>


<div class="fc">
 <div class='b0'></div>
  <div class='b1'></div>
    <div class='b2'>
        <div class="fc1" >
            <div class="b0" style="background-color:white;">
               <img align="center" class="img" src="../location.png" >
           </div>     
           <div class="b0" style="background-color:white">
                <img class="img" src="../star.png" >
           </div>
           <div class="b0" style="background-color:white">
               <img class="img" src="../half_star.png" >
           </div>
          </div>
         <div class="fc1" >
            <div class="b0" style="background-color:white">
              {{location}}
           </div>     
           <div class="b0" style="background-color:white">
               Mastered Challenges
           </div>
           <div class="b0" style="background-color:white">
              Open Challenges
           </div>
          </div>
           <div class="fc1" >
            <div class="b0" style="background-color:white">
       
           </div>     
           <div class="b0" style="background-color:white">
          {{challengescompleted.length}}
           </div>
           <div class="b0" style="background-color:white">
         {{challengesaccepted.length}}
           </div>
          </div>
    </div>   
<div class='b3'>  </div>
  <div class='b4'></div>
</div>

<div class="fc">
 <div class='b0'></div>
 
  <div class='b1'></div>
    <div class='b2'>
        <div class="fc1" >
            <div class="b0" style="background-color:white">
         <a href="/my_friends"><img class="img" src="../friends.png" ></a>
            </div>     
           <div class="b0" style="background-color:white">
                <img class="img" src="../heart.png" >
           </div>
           <div class="b0" style="background-color:white">
               <img class="img" src="../clubs.png" >
           </div>
          </div>
         <div class="fc1" >
            <div class="b0" style="background-color:white">
           <a href="/my_friends">friends</a>
    
           </div>     
           <div class="b0" style="background-color:white">
           <div> {{hobby1}}</div><div>{{hobby2}}</div><div>{{hobby3}}</div>
           </div>
           <div class="b0" style="background-color:white">
               <div> {{group1}}</div><div>{{group2}}</div><div>{{group3}}</div>
           </div>
          </div>
           <div class="fc1" >
            <div class="b0" style="background-color:white">
             <a href="/my_friends"> {{Buddies.length}}</a>
    
             
           </div>     
           <div class="b0" style="background-color:white">
       
           </div>
           <div class="b0" style="background-color:white">
             
           </div>
          </div>
    </div>   
<div class='b3'>  </div>
  <div class='b4'></div>
</div>



<div class="fc">
 <div class='b0'></div>
  <div class='b1'></div>
    <div class='b2' style="background-color:#57DF0C;border-bottom-left-radius:10px;" >

     <div class="fc1" >
            <div class="b0">
             <a  href="/request_make_friends/{{id}}">Send Friend Request</a>
            </div>
               <div class="b0">
            </div>
     </div>
     
                       
    </div>   
<div class='b3' style="background-color:#57DF0C;border-bottom-right-radius:10px;" >  </div>
  <div class='b4'></div>
</div>



</body> {{/each}}