<style>
.b {
    display: block;
    width: 200px;
    height: 50px;
    background: #4E9CAF;
    
  
    border-radius: 5px;
    color: white;
   
.box-22
{

 border-top-left-radius:10px;
border-bottom-left-radius:10px;   
  background-color:white;
  flex:2;
  box-size: border-box;
}


</style>
 <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>


<input id="i" value={{user}}/>
<body class="home_page_top">

     <div class="flex-container">

         <div class="box-0"></div>
         


         <div class="box-22">
        {{#each friend}}
   
             <div  style="margin:5px"  > 
      
       <form id="search" action="/browse_profile" method="post" class="form-inline">
                   <span>
                        <button style="background-color:white;border:none;width:40px;" type="submit" > <img  style="width:40px" class="img" src="../glass.png" > </button>
                 <input required type="text" style="width:80px" id="q" name="q" placeholder="Search...">            
                  <span></span>
              
                 </form> 
              </div>
              <div class="profile-picture big-profile-picture clear">  
                        <img width="80px" alt="picture" src="{{pic}}" />
              </div>
               <h1 id="un" class="user-name">{{username}}</h1>
                     <a href="/videos"><img class="img" src="../challenges.png"><a>
                        <a style="float:right" href="/describe_challenge"><img class="img" src="../record_challenge.png"></a>
         </div>
         <div class="box-25">
                          <a style="float:right;margin:10px" href="../edit_profile"><img class="img" src="../green_cog.png" ></a>   


            <div id="mf">
                <a class="b" style="font-size:15px" href='/request_make_friends/{{username}}'>Send Friend Request</a>
            </div>
          
           </div>
         <div class="box-3" style="background-color:white">
                     <ul class=" b1">
                    <li ><a  style="font-size:10px" href="#40"><span class=""><img class="img" src="../location.png" ></span><span style="float:right;color:black">Location {{location}}</span></a> </li>
                    <li><a   style="font-size:10px" href="#40"><span class=""><img class="img" src="../star.png" ></span><span style="float:right">Mastered Challenges</span></a></li>
                    <li><a   style="font-size:10px" href="#40"><span class=""><img class="img" src="../half_star.png" ></span><span style="float:right">Open Challenges</span></a></li>
                    <li><a   style="font-size:10px" href="#40"><span class=""><img class="img" src="../heart.png" ></span><span style="float:right">{{#each Hobbies}} {{hobby}}{{/each}}</span></a></li>
                    <li><a   style="font-size:10px" href="/my_friends"><span class=""><img class="img" src="../friends.png" ></span><span style="float:right">Friends {{Buddies.length}} </span></a></li>
                    <li><a   style="font-size:10px" href="/groups"><span class=""><img class="img" src="../clubs.png" ></span><span style="float:right">Clubs</span></a></li>
  
                </ul> 
       
              
                     </div>
           <div class="box-4"></div>
     </div>
{{/each}}
    
</body>
