
<style>
.fc {
  display: flex;
}

.fc1{
  display: flex;  
 justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
-webkit-flex-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;


   


}
.b0,.b1,.b4{
    flex:1;
   font-size:10px;
   text-align:center;


}
.b2{
    flex:2;
    background:white;
   text-align:center;
}
.b3{
 background:white;
box-sizing: border-box;
width:40px;
}
</style>


<script>
$(document).ready(function() {

$('#send_request').hide();
$('#make_friends').hide();
$('#reject_friends').hide();

 var ca=$('#ca').attr('class');

 $('#caa').text(ca);

 var cc=$('#cc').attr('class');
 $('#ccc').text(cc);


var s=$('#already_friend').attr('class');

if( s=='One of your friends!')
{
  $('#already_friends').show();

}else
{
$('#send_request').show();
};


var accrej= $('#accrej').attr('class');
if(accrej==1)
{

$('#un').text('Friend Request')
$('#make_friends').show();
$('#reject_friends').show();
$('#send_request').hide();
}


});


  </script>


<body>


<div class="fc">
  <div class='b0'></div>
  <div class='b1'></div>
  <div class='b2'>
        

 
  </div>
  <div class='b3'>  
 </div>
  <div class='b4'></div>
</div>


<div class="fc">
  <div class='b0'></div>
  <div class='b1'>
         

  </div>
  <div class='b2'>
           <button style="display:none" id="already_friend" class="{{already_friends}}">{{already_friends}}</button>
   
 <div class="fc">
     <div class='b2'>
       
       {{#each friend}}
<div class="profile-picture big-profile-picture clear">  
          <img width="80px" alt="picture" src="{{pic}}" />
        </div>
     </div>
        <div class='b2'>
            
<h1 class="user-name"> 

   <a  style="" href="../edit_profile">{{username}}</a></h1>
      <a href="/request_make_friends/{{username}}" id="send_request">Send Friend Request</a>
    <a id="make_friends" href="/make_friends/{{username}}" class="btn btn-xs btn-warning">Accept</a>
   <a id="reject_friends" href="/reject_friends/{{username}}" class="btn btn-xs btn-warning">Reject</a>

     </div>
 </div>
  </div>
  <div class='b3'>  
  </div>
  <div class='b4'></div>
</div>


<div class="fc">
 <div class='b0'></div>
  <div class='b1'></div>
    <div class='b2'>
        <div class="fc1" >
            <div class="b0" style="background-color:white;">
               <img align="center" class="img" src="../location.png" >
           </div>     
           <div class="b0" style="background-color:white">
                <img class="img" src="../star.png" >
           </div>
           <div class="b0" style="background-color:white">
               <img class="img" src="../half_star.png" >
           </div>
          </div>
         <div class="fc1" >
            <div class="b0" style="background-color:white">
              {{location}}
           </div>     
           <div class="b0" style="background-color:white">
               Mastered Challenges
           </div>
           <div class="b0" style="background-color:white">
              Open Challenges
           </div>
          </div>
           <div class="fc1" >
            <div class="b0" style="background-color:white">
        
           </div>     
           <div id="ccc" class="b0" style="background-color:white">
          {{challengescompleted.length}}
           </div>
           <div id="caa" class="b0" style="background-color:white">
         {{challengesaccepted.length}}
           </div>
          </div>
    </div>   
<div class='b3'>  </div>
  <div class='b4'></div>
</div>

<div class="fc">
 <div class='b0'></div>
  <div class='b1'></div>
    <div class='b2'>
        <div class="fc1" >
            <div class="b0" style="background-color:white">
         <a href="/my_friends"><img class="img" src="../friends.png" ></a>
            </div>     
           <div class="b0" style="background-color:white">
                <img class="img" src="../heart.png" >
           </div>
           <div class="b0" style="background-color:white">
               <img class="img" src="../clubs.png" >
           </div>
          </div>
         <div class="fc1" >
            <div class="b0" style="background-color:white">
           <a href="/my_friends">friends</a>
    
           </div>     
           <div class="b0" style="background-color:white">
          <div> {{hobby1}}</div><div>{{hobby2}}</div><div>{{hobby3}}</div>
           </div>
           <div class="b0" style="background-color:white">
             <div> {{group1}}</div><div>{{group2}}</div><div>{{group3}}</div>
           </div>
          </div>
           <div class="fc1" >
            <div class="b0" style="background-color:white">
              {{/each}}
             {{Buddies.length}}
    
             
           </div>     
           <div class="b0" style="background-color:white">
       
           </div>
           <div class="b0" style="background-color:white">
             
           </div>
          </div>
    </div>   
<div class='b3'>  </div>
  <div class='b4'></div>
</div>



<div class="fc">
 <div class='b0'></div>
  <div class='b1'></div>
    <div class='b2' style="background-color:#57DF0C;border-bottom-left-radius:10px;" >

     <div class="fc1" >
           
              <label style="font-size:20px;color:white" id="un"/>
              
     </div>
     
                       
    </div>   
<div class='b3' style="background-color:#57DF0C;border-bottom-right-radius:10px;" >  </div>
  <div class='b4'></div>
</div>

<div id="accrej"  class="{{accrej}}" style="display:none"></div>

 <div id="cca" class="{{challengescompleted.length}}" style="background-color:white;display:none">
      

        <div id="cc" class="{{challengescompleted.length}}" style="background-color:white;display:none">
          
           </div>
           <div id="ca" class="{{challengesaccepted.length}}" style="background-color:white;display:none">
        
           </div>
</body>