
<html>
<head>
 <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
<link rel="stylesheet" href="https://assets-cdn.ziggeo.com/v1-stable/ziggeo.css" />
<script src="https://assets-cdn.ziggeo.com/v1-stable/ziggeo.js"></script>
   <script>ZiggeoApi.token="r1d3ffca0738877b5b993904b579130f";
ZiggeoApi.v2app().on("ready",function(){
  var recorderElement = $("#recorder");
var recorder=ZiggeoApi.V2.Recorder.findByElement(recorderElement);
recorder.on("verified",function(){

var a=recorder.get("video");

 document.getElementById("challenge_id").value =a;
document.getElementById('test').click();

});

});


</script>

<style>

.b {
    display: block;
    width: 115px;
    height: 25px;
    background-color: #4E9CAF !important;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.b1{
  flex:1;
}
.b2{
  flex:1;
  background:white;
  padding:5px;
}
.b3{
  flex:1;
  background:white;
  padding:5px;
  width:200px;
}
.b4{
  flex:1;
}
</style>
</head>
<body class="home_page_top" >
<script type="text/javascript">
$(document).ready(function () {

if( document.getElementById("input_recorder").value !='none')
{
  var person = prompt("Please enter your Challenge", "");

  if (person == null || person == "") {
      window.history.go(-1); return false;
  } else {
      document.getElementById("challenge_text").value =person;
      document.getElementById("challenge").value =person;
      
 
  }
} 
});
 

</script>
<style>
  .fc{
 display: flex;
  align-items: center;
  justify-content: center;
  }
  .t{
    flex:2;
  }
  .y{

      flex:1;
  }
  .z{
    flex:1;
  }
</style>
  <div class="fc">
     <div class="t">
       <div style="margin-left:50px">
         <input style="background-color:white;width:100px;" disabled id="challenge" />
      </div>
       </div>
     <div class="y">
        <div id="div_recorder" style="display:{{rec}}">      
        <ziggeorecorder ziggeo-theme="modern" ziggeo-width="300"  ziggeo-height="300" id="recorder"></ziggeorecorder>
      <input disabled id="input_recorder" value="{{rec}}" style="border:0"/>
        
 
        </div>     
     </div>
     <div class="z">

     </div>
  </div>

<div style="display:none">
 <form action="/save_challenge" method="post">
    <input type="text" name="challenge_text" id="challenge_text" />
     <input type="text" name="challenge_id" id="challenge_id" />
    <button  id="test" type="submit" class="btn btn-default">Save</button>
</form>
</div>
  <div class="flex-container">

         <div class="b1"></div>
          <div class="b2" style="display:{{player}};">         
              <div >
              <ziggeoplayer  ziggeo-width="200px" ziggeo-video="{{token}}" ziggeo-theme="modern"></ziggeoplayer>
              
             
           </div>
           </div>
           <div style="display:{{player}};" class="b3">
             <p>Challenge</p>
              {{#each buddies}}
              <p>  <a class="btn" href="/challenge_this_friend/{{friend}}">{{friend}}</a></p>
                
              {{/each}}
           </div>
            <div class="b4">
        <div style="display:{{challenged}};">     
              <a class="btn" href="/accept_challenge/{{id}}">Accept Challenge</a>
               <a class="btn" href="/reject_challenge/{{id}}">Reject Challenge</a>
               <a class="btn" href="/challenge_completed/{{id}}">Challenge Completed</a>
      
         </div>
            </div>


        </div>

<div style="display:{{challenged}}">
 
     <ziggeoplayer  ziggeo-width="200px"  ziggeo-height="400px" ziggeo-video="{{id}}" ziggeo-theme="modern"></ziggeoplayer>
  </div>    
</body>
</html>
