 <h2 class="page-header">Challenge Someone</h2>
 Challengesomeone
{{title}}
asfasd
{{username}}
{{title}}
 <div id="content" class="container">
               
                <div class="row">
                    <div class="col-xs-12">
                        <ziggeorecorder ziggeo-title="{{title}}" ziggeo-tags="{{username}}" ziggeo-theme="modern"></ziggeorecorder>
                    </div>