
<!doctype html>
<html >
<head>
<meta charset="UTF-8">
<title>HTML 5, CSS 3, jQuery Log-in & Registration</title>



<script>

$(document).ready(function() {
  
      if( document.getElementById("challenge").value !='none')
      {

                 event.preventDefault();
                $(".overlay").fadeToggle("fast");
             
         
                 
      }

 var buttons = $("#next").click(function(e) {
 
      // get user input
      var yes = buttons.index(this) === 0;
          event.preventDefault();
           $(".overlay").fadeToggle("fast");
     document.getElementById("challenge_text").value= document.getElementById("challenge").value       
     
   document.getElementById("input_recorder").value= document.getElementById("challenge").value       
            $(".overlay2").show();
  });


    $("#loginLink").click(function( event ){
           event.preventDefault();
           $(".overlay").fadeToggle("fast");
     });
     
    $(".overlayLink").click(function(event){
        event.preventDefault();
        var action = $(this).attr('data-action');
         
        $("#loginTarget").load("ajax/" + action);
         
        $(".overlay").fadeToggle("fast");
    });
     
    $(".close").click(function(){
        $(".overlay").fadeToggle("fast");
    });
     
    $(document).keyup(function(e) {
        if(e.keyCode == 27 && $(".overlay").css("display") != "none" ) { 
            event.preventDefault();
            $(".overlay").fadeToggle("fast");
        }
    });
});
</script>
</head>
 
<body class="home_page_top"  >





<div class="overlay" style="display: none;">
    <div class="login-wrapper" style="width:500px">
        <div class="login-content" id="loginTarget">
            <a HREF="javascript:history.back()" class="close">x</a>
    <form action="/upload_user_profile" method="POST" enctype="multipart/form-data">
         <div class="profile-picture big-profile-picture clear">  
                            <img width="80px" alt="picture" src="{{pic}}" />
            </div>
                      <input type="file" id="image" name="image" accept="image/*" required>
                      <button class="">Change Image</button>

                          </form>
          
                 
                   
                    <input style="display:none" type="text" name="challenge" id="challenge" placeholder="Challenge must be between 8 and 20 characters"   />
               <form method="post" action="/update_location"> 
             
               <label>Location:</label>
                  <input style="width:100px" id="location" type="text" name="location" value={{location}}>
              <label>Groups:</label>
               <select class="input-field" id="group1" name="group1">
                <option selected="selected">
                {{group1}}
                </option>
                {{#each groups}} 
                <option value="{{group}}">{{group}}</option>
                {{/each}}
                </select>
               <select id="group2" name="group2">
                        <option selected="selected">
                        {{group2}}
                        </option>
                        {{#each groups}}
                        <option value="{{group}}">{{group}}</option>
                        {{/each}}
                        </select>
                    <select id="group3" name="group3">
                        <option selected="selected">
                        {{group3}}
                        </option>
                        {{#each groups}}
                        <option value="{{group}}">{{group}}</option>
                        {{/each}}
                        </select>
                <label>Hobbies:</label>
                 <select id="hobby1" name="hobby1">
                        <option selected="selected">
                        {{hobby1}}
                        </option>
                        {{#each hobbies}}
                        <option value="{{hobby}}">{{hobby}}</option>
                        {{/each}}
                 </select>
                   <select id="hobby2" name="hobby2">
                        <option selected="selected">
                        {{hobby2}}
                        </option>
                        {{#each hobbies}}
                        <option value="{{hobby}}">{{hobby}}</option>
                        {{/each}}
                   </select>
 <select id="hobby3" name="hobby3">
                        <option selected="selected">
                        {{hobby3}}
                        </option>
                        {{#each hobbies}}
                        <option value="{{hobby}}">{{hobby}}</option>
                        {{/each}}
                        </select>
                    <button type="submit" > Submit</button>     
               </form>      
               
              
        </div>
    </div>
</div>





</body>
</html>