



<body class="home_page_top">

     <div class="flex-container">

         <div class="box-0"></div>
      

         <div class="box-2">
        
   
             <div  style="margin:5px"  > 
      
       <form id="search" action="/browse_profile" method="post" class="form-inline">
                   <span>
                        <button style="background-color:white;border:none;width:40px;" type="submit" > <img  style="width:40px" class="img" src="../glass.png" > </button>
                 <input required type="text" style="width:80px" id="q" name="q" placeholder="Search...">            
                  <span></span>
              
                 </form> 
                            <a style="float:right;margin:10px" href="../edit_profile"><img class="img" src="../green_cog.png" ></a>   
          
              </div>
              <div class="profile-picture big-profile-picture clear">  
                        <img width="80px" alt="picture" src="{{pic}}" />
              </div>
                                  
               <h1 class="user-name">{{user.username}}</h1>
               <div style="background-color:#57DF0C;border-bottom-left-radius:10px;  " >
                     <a href="/videos"><img class="img" src="../challenges.png"><a>
                        <a style="float:right" href="/challenge_someone"><img class="img" src="../record_challenge.png"></a>
            
              </div>
         </div>
       
         <div class="box-3" style="background-color:white">
                     <ul class=" b1">
                    <li ><a  style="font-size:10px" href="#40"><span class=""><img class="img" src="../location.png" ></span><span style="float:right;color:black">Location {{location}}</span></a> </li>
                    <li><a   style="font-size:10px" href="#40"><span class=""><img class="img" src="../star.png" ></span><span style="float:right">Mastered Challenges</span></a></li>
                    <li><a   style="font-size:10px" href="#40"><span class=""><img class="img" src="../half_star.png" ></span><span style="float:right">Open Challenges{{challengesaccepted.length}}</span></a></li>
                    <li><a   style="font-size:10px" href="#40"><span class=""><img class="img" src="../heart.png" ></span><span style="float:right">{{hobby1}},{{hobby2}},{{hobby3}}</span></a></li>
                    <li><a   style="font-size:10px" href="/my_friends"><span class=""><img class="img" src="../friends.png" ></span><span style="float:right">Friends {{Buddies.length}} </span></a></li>
                    <li><a   style="font-size:10px" href="#40"><span class=""><img class="img" src="../clubs.png" ></span><span style="float:right">Clubs:<p>{{group1}}</p><p>{{group2}}</p><p>{{group3}}</p></span></a></li>
  
                </ul> 
       
              
                     </div>
           <div class="box-4"></div>
     </div>

    
</body>
