





<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
  .one {
  background-image: url('../uploads/{{pic}}');
}


  .user {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

</style>


<div class="card">
 <div class="user one">
</div>
  <h1>{{user.username}}</h1>
  <p class="title">CEO & Founder, Example</p>
  <p>Harvard University</p>
  <a href="#"><i class="fa fa-dribbble"></i></a> 
  <a href="#"><i class="fa fa-twitter"></i></a> 
  <a href="#"><i class="fa fa-linkedin"></i></a> 
  <a href="#"><i class="fa fa-facebook"></i></a> 
  <p> <a href="/see_challenge_request/{{user}}" class="btn btn-xs btn-warning">New Challenges:{{Challenge.length}}</a>
<p> <a href="/see_friend_request/{{user}}" class="btn btn-xs btn-warning">New Friend Request:{{Friend.length}}</a>


<p> <a href="/edit_profile" class="btn btn-xs btn-success">Edit Profile</a>
 <p><a href="/find_friends" class="btn btn-xs btn-primary">Find Friends</a>
 <p><a href="/my_hobbies/{{username}}" class="btn btn-xs btn-warning">Hobbies</a>
  <p><a href="/groups" class="btn btn-xs btn-info">Groups</a>
  <p><a href="/users" class="btn btn-xs btn-danger">Users</a>
</div>

