
{{each groups}}
Group 1: {{group1}}
Group 2: {{group2}}
Group 3: {{group3}}
{{/each}}

	
 <!-- LEFT-CONTAINER -->
            <div class="middle-container container">
                <div class="menu-box block"> <!-- MENU BOX (LEFT-CONTAINER) -->
                    <h2 class="titular">My Groups</h2>
                    <ul class="menu-box-menu">
{{each groups}}
Group 1: {{group1}}
Group 2: {{group2}}
Group 3: {{group3}}
{{/each}}

						{{#each h}}
                           <li>
                            <a class="menu-box-tab" href="/join_group/{{h}}">{{h}}{{user}}add Group</a>
                        </li>
						{{/each}}
                    </ul>
                </div>

       




