
{{#each hobbies}}
Hobby 1: {{hobby1}}
Hobby 2: {{hobby2}}
Hobby 3: {{hobby3}}
{{/each}}

	


 <!-- LEFT-CONTAINER -->
            <div class="middle-container container">
                <div class="menu-box block"> <!-- MENU BOX (LEFT-CONTAINER) -->
<select id="hobby1">
  <option value="1">test1</option>
  <option value="2">test2</option>
  <option value="3">test3</option>
</select>

                    <h2 class="titular">My Hobbies</h2>
                    <ul class="menu-box-menu">


						{{#each h}}
                           <li>
                            <a class="menu-box-tab" href="/join_hobby/{{h}}">{{h}}{{user}}<Add Hobby</a>
                        </li>
						{{/each}}
                    </ul>
                </div>

       




