
<!doctype html>
<html>
<head>
    <title>Challenge You</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        .reading {
              background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left; 
        }
     </style>
</head>
<% layout('layout') -%>
<% block('title', page_title) %>

<body class='reading'>
<div class="container text-right">
<div class="col-sm-6 col-sm-offset-3">
<h1>User Details </h1>
    <ul>
        <li><a href="/user_image_upload" class="btn btn-md btn-link">Upload picture</a></li>
     </ul>   
 
    <!-- LOGIN FORM -->
    <form action="/insert_userdetails/<%= user.local.email %>" method="post">
        <div class="form-group">
                <%= typeof msg != 'undefined' ? msg : '' %>
                

                     <div> Username:   <input  type="text" value="<%= typeof username !='undefined' ? username  : '' %>" class="form-control" name="userdetail"> </div>   
                     <%=   username %>
                     <div> Email:<%=   user.local.email %></div>   
               
         

         
        </div>
      

        <button type="submit" class="btn btn-warning btn-lg">Update User Details</button>
    </form>

    <hr>


</div>
</div>
</body>
</html>
    
