
        
  <style type="text/css">
.home_page_top {
    background-image: url('../blue_background.png');
   background-repeat: no-repeat;
   background-size:100%;

}
</style>

  <body class="home_page_top">   
           
              
  <div class="middle-container container">
                <div class="menu-box block"> 
                    <h2 class="titular">My Challenges</h2>
                               
                    <ul class="menu-box-menu">
                       {{#each videos}}
                       <li class="menu-box-tab">
                              <span> <a href="/view_video/{{token}}/{{title}}">  {{title}}{{image}} </a></span>
                          </li>
                       {{/each}}
                    </ul>
                </div>
             </div>


<!--

                    {{#each videos}}
                  
               
      
                <span  class="card teal"  style="display: inline-block;width: 30%;padding:5px;margin:5px">
                <span  class="card-content white-text center-text">
                        <ziggeoplayer  ziggeo-video="{{token}}" ziggeo-theme="modern"></ziggeoplayer>
                <span class="card-title">{{title}}</span>
                </span>
                 </span>       
                {{/each}}
-->

                </body>

            
